<div class="carousel">
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="../assets/images/inbody.png" alt="InBody" />
      <div class="carousel-caption">
        <h3>InBody</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/images/eleveight.png" alt="Eleveight" />
      <div class="carousel-caption">
        <h3>Eleveight</h3>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="../assets/images/resortigo.png" alt="ResortShare" />
      <div class="carousel-caption">
        <h3>ResortShare</h3>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
