.aboutMe {
  font-size: 2rem;
  background: rgba(231, 224, 231, 0.164);
}

.bio {
  font-size: 1.2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container>div {
  width: 100%;
  margin: 10px;
  text-align: center;
  font-size: 1.2rem;
}
