<div class="aboutMe">
  <div class="flex-container">
    <img src="../assets/images/profile.png" alt="Avatar" align="right">
    <div>
      <b>
        <p class="bio">
          My name is Robert Franklin and I'm a full stack developer. I possess a working knowledge of the development
          cycle from the back to the front end. I'm well-versed in .NET languages including SQL, C#, React, and Angular
          2+. I 've been developing for the last three years and have a strong background in team as well as independent
          projects.
        </p>
      </b>
    </div>
  </div>
</div>
