<div class="experience full-width">
  <br>
  <div class="col-md-9" style="font-size: 1.2rem">
    <b>
      <u>EXPERIENCE</u>
    </b>
    <div class="offset-1 full-width">
      <p style="font-size: 1.2rem">
        <b>ResortShare</b>
      </p>
      <p><i> Web Developer <br>
        </i>
        November 2018 - Present
      </p>
      <ul>
        <li> Constructed web-based CRM system which allowed for reporting, scheduling, data-entry, and
          analytics for internal employee use</li>
        <li>Implemented use of third party API's including Google Maps, TripAdvisor, and AirBnb
        </li>
        <li> Ensured mobile compatibility of the application for users who needed to use the system while onsite at
          rental properties
        </li>
        <li>Built key components such as calendar events, bookings-management, and financial ledger details</li>
      </ul>
      <br><br>
      <p style="font-size: 1.5rem">
        <b>Eleveight</b>
      </p>
      <p><i> Full Stack Developer <br>
        </i>
        April 2018 - November 2018
      </p>
      <ul>
        <li> Implemented front end ability to modify administrator options throughout the site using role-based rule set
        </li>
        <li> Created standardized procedure for allowing Organizations to update business information in accordance with
          standard practices
        </li>
        <li> Inserted Unit Testing to ensure full functionality of the application
        </li>
        <li>Communicated progress updates with development team and employed the use of Git, Trello cards, and Team
          Foundation Server within the Agile methodology</li>
      </ul>
      <br><br>
      <p style="font-size: 1.5rem">
        <b>InBody</b>
      </p>
      <p><i> Applications Specialist/QA <br>
        </i>
        March 2017 - April 2018
      </p>
      <ul>
        <li> Liaison between the end clients and the rest of the development team
        </li>
        <li> Reviewed quality specifications and technical design to provide timely and meanigful feedback
        </li>
        <li> Created detailed, comprehensive and well-structured test plans and thorough testing scenarios
        </li>
        <li>
          Estimated, prioritized, planned and coordinated quality testing activities Foundation Server within the Agile
          methodology</li>
      </ul>
    </div>
  </div>
</div>
