<div class="experience">
  <div class="resume">
    <div class="raised-card">
      <div class="raised-conent">
        <p>
          <b>CCC Intelligent Solutions</b>
        </p>
        <p>
          <i> Software Engineer <br /> </i>
          October 2019 - Present
        </p>
        <ul>
          <li>
            Saw the application through to completion as I worked on the project
            prior to and after general release
          </li>
          <li>
            Worked alongside the development team to reinforce
            more efficient state management
          </li>
          <li>
            Collaborated with the QA team to resolve bugs as they arose, often
            times relying on the use of error handling features
          </li>
          <li>
            Focused on implementing server-side unit tests, client-side unit
            tests, and end-to-end testing to ensure upwards of 95% code coverage
          </li>
        </ul>
        <br />
        <p>
          <b>ResortShare</b>
        </p>
        <p>
          <i> Web Developer <br /> </i>
          November 2018 - October 2019
        </p>
        <ul>
          <li>
            Constructed web-based CRM system which allowed for reporting,
            scheduling, data-entry, and analytics for internal employee use
          </li>
          <li>
            Implemented use of third party API's and packages including Google
            Maps, Full-Callendar, and Datatables
          </li>
          <li>
            Ensured mobile compatibility of the application for system
            utilization while onsite at rental properties
          </li>
          <li>
            Built key components such as calendar events, bookings-management,
            and financial statement details
          </li>
        </ul>
        <br />
        <p>
          <b>Eleveight</b>
        </p>
        <p>
          <i> Full Stack Developer <br /> </i>
          April 2018 - November 2018
        </p>
        <ul>
          <li>
            Implemented front end ability to modify administrator options
            throughout the site using role-based rule set
          </li>
          <li>
            Created standardized procedure for allowing Organizations to update
            business information in accordance with standard practices
          </li>
          <li>
            Inserted Unit Testing to ensure full functionality of the
            application
          </li>
          <li>
            Communicated progress updates with development team and employed the
            use of Git, Trello cards, and Team Foundation Server within the
            Agile methodology
          </li>
        </ul>
        <br />
        <p>
          <b>InBody</b>
        </p>
        <p>
          <i> Applications Specialist/QA <br /> </i>
          March 2017 - April 2018
        </p>
        <ul>
          <li>
            Liaison between the end clients and the rest of the development team
          </li>
          <li>
            Reviewed quality specifications and technical design to provide
            timely and meanigful feedback
          </li>
          <li>
            Created detailed, comprehensive and well-structured test plans and
            thorough testing scenarios
          </li>
          <li>
            Estimated, prioritized, planned and coordinated quality testing
            activities amongst team members
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="cartoon">
    <br />
    <img src="../assets/images/featureless1.png" alt="Robert" />
  </div>
</div>
