.experience {
  display: flex;
  flex-wrap: wrap;
}

b {
  font-size: 1.5em;
}

.resume {
  width: 80%;
  background-image: linear-gradient(rgba(158, 196, 218, 0.459), rgba(204, 84, 29, 0.39));
  background-color: white
}

.cartoon {
  width: 20%;
  background-image: linear-gradient(rgba(158, 196, 218, 0.459), rgba(204, 84, 29, 0.39));
  background-color: white;
}

img {
  height: auto;
  width: 100%;
  // border-radius: 5%;
}

.raised-card {
  margin-top: 10px;
  margin-bottom: 10px;
  // margin: 2em 4em;
  border: 6px outset silver;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  font-family: 'Quicksand', sans-serif;
  margin-left: 30px;
  font-size: 1.2rem;
}

.raised-conent {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .resume {
    width: 100%;
  }

  .cartoon {
    width: 100%;
  }

  img {
    height: auto;
    width: 100%;
    // border-radius: 5%;
    align-content: center
  }

  .raised-card {
    margin: 2em 4em;
    border: 6px outset silver;
    -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    font-family: 'Quicksand', sans-serif;
    margin-left: 15px;
    font-size: 1.2rem;
    width: 90%;
  }
}
