<div class="contact">
  <div style="text-align: center">
    LET'S CREATE SOMETHING GREAT
  </div>
  <br>
  <div style="text-align: center">
    If you like my work and want to get into contact with me, send me a message using one of the channels below
  </div>
  <br>
  <div class="flex-container offset-4" style="text-align: center">
    <div><a href="mailto:eyesonrobert@gmail.com"><img src="../assets/images/email.png" alt="email"
          style="width:30px; height: auto;"><br>Email</a>
    </div>
    <div>
      <a href="https://www.github.com/eyesonrobert" target="_blank"><img src="../assets/images/github.png" alt="GitHub"
          style="width:30px; height: auto;">Github</a>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/eyesonrobert/" target="_blank"> <img src="../assets/images/linkedin.png"
          alt="LinkedIn" style="width:30px; height: auto;">LinkedIn</a>
    </div>
    <div>
      <a href="https://www.instagram.com/eyesonrobert/" target="_blank"><img src="../assets/images/instagram.png"
          alt="Instagram" style="width:30px; height: auto;">Instagram</a>
    </div>
  </div>
</div>
