.contact {
  color: white;
  font-size: 2rem;
  height: 100%;
  // text-align: center;

  background-image: linear-gradient(rgba(3, 9, 12, 0.842), rgba(3, 22, 13, 0.568));
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container>div {
  width: 100px;
  margin: 10px;
}

a:hover {
  color: rgb(92, 181, 223);
}

@media(max-width: 400px) {
  .flex-container {
    flex-wrap: wrap;
  }
}
