.contact {
  color: white;
  font-size: 2rem;
  height: 100%;
  background-image: linear-gradient(rgba(3, 9, 12, 0.842), rgba(3, 22, 13, 0.568));
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;}


a:hover {
  color: rgb(92, 181, 223);
}

.channel {
  width: 150px;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

img {
  width: 60px;
  height: auto;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

@media(max-width: 600px) {
  .flex-container {
    flex-wrap: wrap;
  }

  .channel {
    width: 50px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0%;
  }

  img {
    width: 60px;
    height: auto;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
