<div class="contact">
  <div style="text-align: center">
    <br>
    LET'S CREATE SOMETHING GREAT
  </div>
  <br>
  <div style="text-align: center" class="ml-1 mr-1">
    If you like my work and want to get into contact with me, send me a message using one of the channels below
  </div>
  <br>
  <div class="flex-container">
    <div class="channel"><a href="mailto:eyesonrobert@gmail.com"><img src="../assets/images/email.png"
          alt="email"><br>Email</a>
    </div>
    <div class="channel">
      <a href="https://www.github.com/eyesonrobert" target="_blank"><img src="../assets/images/github.png"
          alt="GitHub">Github</a>
    </div>
    <div class="channel">
      <a href="https://www.linkedin.com/in/eyesonrobert/" target="_blank"> <img src="../assets/images/linkedin.png"
          alt="LinkedIn">LinkedIn</a>
    </div>
  </div>
</div>
