<div class="portfolio">
  <div style="text-align: center">
    <app-carousel></app-carousel>
  </div>
  <span class="offset-6" style="text-align: center">
    SKILLS
  </span>
  <br>
  <br>
  <span class="triangleLeft"></span>
  <span class="triangleRight"></span>


  <div class="offset-2">
    <div class="flex-container ml-4">
      <div><img src="../assets/images/ASP.Net.png" alt="css" style="width:100px; height: auto;"></div>
      <div><img src="../assets/images/.net core.png" alt=".netCore" style="width:100px; height: auto;"></div>
      <div><img src="../assets/images/c-sharp.png" alt=".c#" style="width:100px; height: auto;"></div>
      <div><img src="../assets/images/sql.png" alt="sql" style="width:100px; height: auto;"></div>
      <div><img src="../assets/images/javaScript.png" alt="javaScript" style="width:100px; height: auto;"></div>
      <div><img src="../assets/images/nodejs.png" alt="nodejs" style="width:100px; height: auto;"></div>
      <div><img src="../assets/images/git.png" alt="git" style="width:100px; height: auto;"></div>
    </div>
    <div class="flex-container">
      <div><img src="../assets/images/jquery.png" alt="jquery" style="width:100px; height: auto;"></div>
      <div><img src="../assets/images/react.png" alt="react" style="width:100px; height: auto;"></div>
      <div><img src="../assets/images/redux.png" alt="redux" style="width:100px; height: auto;"></div>
      <div><img src="../assets/images/angular.png" alt="angular" style="width:100px; height: auto;"></div>
      <div><img src="../assets/images/rxjs.png" alt="rxjs" style="width:120px; height: auto;"></div>
      <div><img src="../assets/images/html5.png" alt="html5" style="width:100px; height: auto;"></div>
      <div><img src="../assets/images/css.png" alt="css" style="width:100px; height: 80%;"></div>
    </div>
  </div>
  <!-- <div class="full-width">
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
    <span class="triangleUp"></span>
  </div> -->

</div>
