<div class="portfolio">
  <app-carousel></app-carousel>
  <!-- <span class="triangleLeft"></span>
    <span class="triangleRight"></span> -->
  <br>
  <h2>
    SKILLS
  </h2>
  <section>
    <div id="container">
      <div id="child2" class="child"><img src="../assets/images/ASP.Net.png" alt="ASP.NET"
          style="width:125px; height: auto;"></div>
      <div id="child3" class="child"> <img src="../assets/images/.net core.png" alt=".netCore"
          style="width:125px; height: auto;"></div>
      <div id="child1" class="child"> <img src="../assets/images/c-sharp.png" alt=".c#"
          style="width:125px; height: auto;"></div>
      <div id="child2" class="child"><img src="../assets/images/sql.png" alt="sql" style="width:125px; height: auto;">
      </div>
      <div id="child1" class="child"> <img src="../assets/images/javaScript.png" alt="javaScript"
          style="width:125px; height: auto;"></div>
      <div id="child3" class="child"> <img src="../assets/images/nodejs.png" alt="nodejs"
          style="width:125px; height: auto;"></div>
      <div id="child1" class="child"> <img src="../assets/images/git.png" alt="git" style="width:125px; height: auto;">
      </div>
    </div>
    <div id="container">
      <div id="child2" class="child"><img src="../assets/images/jquery.png" alt="jquery"
          style="width:125px; height: auto;"></div>
      <div id="child3" class="child"> <img src="../assets/images/react.png" alt="react"
          style="width:125px; height: auto;"></div>
      <div id="child1" class="child"> <img src="../assets/images/redux.png" alt="redux"
          style="width:125px; height: auto;"></div>
      <div id="child2" class="child"><img src="../assets/images/angular.png" alt="angular"
          style="width:125px; height: auto;"></div>
      <div id="child3" class="child"> <img src="../assets/images/rxjs.png" alt="rxjs"
          style="width:120px; height: auto;">
      </div>
      <div id="child1" class="child"> <img src="../assets/images/html5.png" alt="html5"
          style="width:125px; height: auto;"></div>
      <div id="child1" class="child"> <img src="../assets/images/css.png" alt="css" style="width:125px; height: 80%;">
      </div>
    </div>
  </section>
</div>
