<div class="portfolio">
  <br>
  <app-carousel></app-carousel>
  <br>
  <h2>
    SKILLS
  </h2>
  <section>
    <div id="container">
      <div id="child2" class="child"><img src="../assets/images/ASP.Net.png" alt="ASP.NET"></div>
      <div id="child3" class="child"> <img src="../assets/images/.net core.png" alt=".netCore"></div>
      <div id="child1" class="child"> <img src="../assets/images/c-sharp.png" alt=".c#"></div>
      <div id="child2" class="child"><img src="../assets/images/sql.png" alt="sql">
      </div>
      <div id="child3" class="child"> <img src="../assets/images/react.png" alt="react"></div>
      <div id="child2" class="child"><img src="../assets/images/angular.png" alt="angular"></div>

    </div>
    <div id="container">
      <div id="child1" class="child"> <img src="../assets/images/git.png" alt="git">
      </div>
      <div id="child3" class="child"> <img src="../assets/images/nodejs.png" alt="nodejs"></div>
      <div id="child1" class="child"> <img src="../assets/images/javaScript.png" alt="javaScript"></div>
      <div id="child2" class="child"><img src="../assets/images/jquery.png" alt="jquery"></div>
      <div id="child1" class="child"> <img src="../assets/images/html5.png" alt="html5"></div>
      <div id="child1" class="child"> <img src="../assets/images/css.png" alt="css">
      </div>
    </div>
    <div id="container">
      <div id="child1" class="child"> <img src="../assets/images/redux.png" alt="redux"></div>
      <div id="child3" class="child"> <img src="../assets/images/rxjs.png" alt="rxjs">
      </div>
      <div id="child1" class="child"> <img src="../assets/images/cypress.png" alt="cypress"></div>
      <div id="child1" class="child"> <img src="../assets/images/react-native.png" alt="react native"></div>
      <div id="child1" class="child"> <img src="../assets/images/nativescript.png" alt="nativeScript"></div>
      <div id="child2" class="child"><img src="../assets/images/photoshop.png" alt="photoshop"></div>
    </div>
  </section>
</div>
