.appComponent {
  background: rgba(216, 191, 216, 0.164);
  width: 100%
}

app-header {
  z-index: 1000;
  box-shadow: 2px 0 0 2px rgba(0, 0, 0, 0.3);
  color: gray;
  background-color: #000000;
  font-size: 2rem;
  height: 80px;
  margin-bottom: 20%;
}

.title {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  color: white;
  display: flex;
  margin-bottom: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}
