.my-container {
  position: relative;
  overflow: hidden;
  font-family: 'Bree Serif', serif
}

.my-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.2;
}

.head {
  z-index: 1000;
  box-shadow: 2px 0 0 2px rgba(0, 0, 0, 0.3);
  color: gray;
  background-color: #000000;
  font-size: 2rem;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
}

.title {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  color: white;
  display: flex;
  margin-bottom: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  font-family: 'Poiret One', cursive;
}
