<div class="appComponent">
  <app-header>
    <div class="title">
      {{ title }}
    </div>
    <div class="navigation">
      <span class="col-md-3" (click)="scroll(aboutMeDiv)">
        About Me
      </span>
      <span class="col-md-3" (click)="scroll(experienceDiv)">
        Experience
      </span>
      <span class="col-md-3" (click)="scroll(portfolioDiv)">
        Portfolio
      </span>
      <span class="col-md-3" (click)="scroll(contactDiv)">
        Contact
      </span>
    </div>
  </app-header>
  <br>
  <div>
    <div style="padding-top: 75px" #aboutMeDiv>
      <app-about-me></app-about-me>
    </div>
    <div #experienceDiv>
      <app-experience></app-experience>
    </div>
    <div #portfolioDiv>
      <app-portfolio></app-portfolio>
    </div>
    <div #contactDiv>
      <app-contact></app-contact>
    </div>
  </div>

</div>
